.content {
    max-width: 500px;
}

.content__title {
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
}

.content__title strong {
    color: var(--blue);
}

.content__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

.links__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: var(--white);
    font-weight: 600;
    border: 2px solid var(--blue);
    border-radius: .5rem;
    padding-block: .5rem;
    width: 278px;
}

.links__button:hover {
    background-color: var(--hover);
    color: var(--white);
    transition: 1000ms;
}

@media screen and (min-width: 765px) {
    .content {
        text-align: left;
    }

    .links__button {
        padding-block: 1rem;
        text-align: center;
    }
}

@media screen and (min-width: 1024px) {
    .content {
        max-width: 615px;
    }

    .content__title {
        font-size: 2.25rem;
        line-height: 3.5rem;
        margin-bottom: 2.25rem;
    }

    .content__text {
        font-size: 1.5rem;
    }

    .content__links {
        gap: 2rem;
        margin-top: 3.187rem;
    }

    .links__subtitle {
        font-size: 1.5rem;
    }

    .links__button {
        width: 378px;
    }
}