header {
    padding-top: 3rem;
}

.header__nav {
    color: var(--blue);
    font-weight: 600;
    text-align: left;
    font-size: 1.1rem;
}

.nav__link {
    margin-right: 3.75vw;
}

@media screen and (min-width: 1024px) {
    .header__nav {
        font-size: 1.5rem;
    }
}