footer {
    background-color: var(--color-tertiary);
    color: var(--color-primary);
    padding-block: 1rem;
}

@media screen and (min-width: 1024px) {
    footer {
        padding-block: 1.4rem;
    }
}