.image {
    width: 40vw;
}

.image-about {
    padding-top: 0;
}

@media screen and (min-width: 765px) {
    .image {
        grid-area: 1/2/3/3;
        max-width: 488px;
    }

    .image-about {
        padding-top: 3.75rem;
    }
}

@media screen and (min-width: 1024px) {
    .image-about {
        padding-top: 6rem;
    }
}